# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.classpath
.project
.settings/
.springBeans
bin/

# Visual Studio Code
.vscode/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Environment variables (Safety first)
.env
src/main/resources/firebase-adminsdk.json

